<footer class="site-footer">
  <div class="container">
    <p class="powered-by">

      {{ with .Site.Copyright }}{{ . | markdownify}} &middot; {{ end }}

      De broncode van deze website is beschikbaar op <a href="https://github.com/SamyCoenen/I-Talent" target="_blank" rel="noopener">Github</a> .

      <span class="pull-right" aria-hidden="true">
        <a href="#" id="back_to_top">
          <span class="button_icon">
            <i class="fa fa-chevron-up fa-2x"></i>
          </span>
        </a>
      </span>

    </p>
  </div>
</footer>
