
  </body>
</html>
{{/* Default to enabling highlighting, but allow the user to override it in .Params or .Site.Params.
     Use $.Scratch to store "highlight_enabled", so that we can read it again in footer.html. */}}
{{ $.Scratch.Set "highlight_enabled" true }}
{{ if isset .Params "highlight" }}
  {{ $.Scratch.Set "highlight_enabled" .Params.highlight }}
{{ else if isset .Site.Params "highlight" }}
  {{ $.Scratch.Set "highlight_enabled" .Site.Params.highlight }}
{{ end }}
{{ if $.Scratch.Get "highlight_enabled" }}
  {{ $v := .Site.Params.highlight_version | default "9.9.0" }}
  {{ with .Site.Params.highlight_style }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/styles/{{ . }}.min.css">
  {{ else }}
  <link rel="stylesheet" href="{{ "/css/highlight.min.css" | relURL }}">
  {{ end }}
{{ end }}
<link rel="preload" href="{{ "/css/bootstrap_font-awesome_academicons_hugo-acamadic_concat.min.css" | relURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
   <noscript><link rel="stylesheet" href="{{ "/css/bootstrap_font-awesome_academicons_hugo-acamadic_concat.min.css" | relURL }}"></noscript>
    <!-- <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}"> -->
    <!-- <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}"> -->
    <!-- <link rel="stylesheet" href="{{ "/css/academicons.min.css" | relURL }}"> -->
    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700|Merriweather|Roboto+Mono"> -->
    <!-- <link rel="stylesheet" href="{{ "/css/hugo-academic-min.css" | relURL }}"> -->
    <script>
    !function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){function e(){t.media=a}var a=t.media||"all";t.addEventListener?t.addEventListener("load",e):t.attachEvent&&t.attachEvent("onload",e),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(e,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);
    </script>
    <!-- <script async  src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script> -->
    <!-- <script async src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <!-- <script  src="{{ "/js/jquery-1.12.3.min.js" | relURL }}"></script> -->
    <!-- <script async src="{{ "/js/bootstrap.min.js" | relURL }}"></script> -->
    <!-- <script src="{{ "/js/isotope.pkgd.min.js" | relURL }}"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    <!-- <script async src="{{ "/js/hugo-academic.min.js" | relURL }}"></script> -->
    <script  src="{{ "/js/concat.min.js" | relURL }}"></script> -->
    {{ range .Site.Params.custom_js }}
    <script src="{{ "/js/" | relURL }}{{ . }}"></script>
    {{ end }}

    {{ with .Site.GoogleAnalytics }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ . }}', 'auto');
        ga('send', 'pageview');

        /* Send outbound link click events */
        var links = document.querySelectorAll('a');
        Array.prototype.map.call(links, function(item) {
            if (item.host != document.location.host) {
                item.addEventListener('click', function() {
                    var action = item.getAttribute('data-action') || 'follow';
                    ga('send', 'event', 'outbound', action, item.href);
                });
            }
        });
    </script>
    {{ end }}

    <!-- Code highlighting -->
    {{ if $.Scratch.Get "highlight_enabled" }}
      {{ $v := .Site.Params.highlight_version | default "9.9.0" }}
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/highlight.min.js"></script>

      {{ range .Site.Params.highlight_languages }}
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/languages/{{ . }}.min.js"></script>
      {{ end }}

      {{ range .Params.highlight_languages }}
      {{/* Do not double-include languages that are in both .Site.Params and .Params.
           If Hugo ever grows a "union" function for set union, this range clause can be merged with the one above. */}}
        {{ if not (in $.Site.Params.highlight_languages .) }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/languages/{{ . }}.min.js"></script>
        {{ end }}
      {{ end }}

      <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}

    <!-- LaTeX math rendering -->
    {{ if or .Params.math .Site.Params.math }}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
    {{ end }}
