/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul>li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-user:before {
  content: "\f007";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th:before {
  content: "\f00a";
}

.fa-th-list:before {
  content: "\f00b";
}

.fa-home:before {
  content: "\f015";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-font:before {
  content: "\f031";
}

.fa-bold:before {
  content: "\f032";
}

.fa-text-height:before {
  content: "\f034";
}

.fa-text-width:before {
  content: "\f035";
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-list:before {
  content: "\f03a";
}

.fa-image:before {
  content: "\f03e";
}

.fa-adjust:before {
  content: "\f042";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-share:before {
  content: "\f064";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-folder-open:before {
  content: "\f07c";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook-f:before,.fa-facebook:before {
  content: "\f09a";
}

.fa-github:before {
  content: "\f09b";
}

.fa-feed:before,.fa-rss:before {
  content: "\f09e";
}

.fa-hand-o-right:before {
  content: "\f0a4";
}

.fa-hand-o-left:before {
  content: "\f0a5";
}

.fa-hand-o-up:before {
  content: "\f0a6";
}

.fa-filter:before {
  content: "\f0b0";
}

.fa-group:before {
  content: "\f0c0";
}

.fa-link:before {
  content: "\f0c1";
}

.fa-cloud:before {
  content: "\f0c2";
}

.fa-copy:before,.fa-files-o:before {
  content: "\f0c5";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-table:before {
  content: "\f0ce";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-folder-o:before {
  content: "\f114";
}

.fa-folder-open-o:before {
  content: "\f115";
}

.fa-html5:before {
  content: "\f13b";
}

.fa-css3:before {
  content: "\f13c";
}

.fa-toggle-up:before {
  content: "\f151";
}

.fa-toggle-right:before {
  content: "\f152";
}

.fa-apple:before {
  content: "\f179";
}

.fa-linux:before {
  content: "\f17c";
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-toggle-left:before {
  content: "\f191";
}

.fa-try:before {
  content: "\f195";
}

.fa-institution:before,.fa-bank:before,.fa-university:before {
  content: "\f19c";
}

.fa-graduation-cap:before {
  content: "\f19d";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-support:before {
  content: "\f1cd";
}

.fa-ge:before {
  content: "\f1d1";
}

.fa-header:before {
  content: "\f1dc";
}

.fa-toggle-on:before {
  content: "\f205";
}

.fa-server:before {
  content: "\f233";
}

.fa-500px:before {
  content: "\f26e";
}

.fa-amazon:before {
  content: "\f270";
}

.fa-edge:before {
  content: "\f282";
}

.fa-fa:before {
  content: "\f2b4";
}

.fa-envelope-open:before {
  content: "\f2b6";
}

.fa-envelope-open-o:before {
  content: "\f2b7";
}

.fa-user-o:before {
  content: "\f2c0";
}

.fa-s15:before {
  content: "\f2cd";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,footer,header,main,nav,section,summary {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

b,strong {
  font-weight: 700;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

pre {
  overflow: auto;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

button {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,th {
  padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,  :after,  :before {
    color: #000!important;
    text-shadow: none!important;
    background: 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  a,  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="javascript:"]:after,  a[href^="#"]:after {
    content: "";
  }

  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  h2,  h3,  p {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }

  .table {
    border-collapse: collapse!important;
  }

  .table td,  .table th {
    background-color: #fff!important;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

[role=button] {
  cursor: pointer;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1,.h2,.h3,h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h4,.h5,.h6,h4,h5,h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h1,h1 {
  font-size: 36px;
}

.h2,h2 {
  font-size: 30px;
}

.h3,h3 {
  font-size: 24px;
}

.h4,h4 {
  font-size: 18px;
}

.h5,h5 {
  font-size: 14px;
}

.h6,h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: #337ab7;
}

a.text-primary:focus,a.text-primary:hover {
  color: #286090;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width:768px) {
  .col-sm-1,  .col-sm-10,  .col-sm-11,  .col-sm-12,  .col-sm-2,  .col-sm-3,  .col-sm-4,  .col-sm-5,  .col-sm-6,  .col-sm-7,  .col-sm-8,  .col-sm-9 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width:992px) {
  .col-md-1,  .col-md-10,  .col-md-11,  .col-md-12,  .col-md-2,  .col-md-3,  .col-md-4,  .col-md-5,  .col-md-6,  .col-md-7,  .col-md-8,  .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}

table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>thead>tr>td,.table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

.table>tbody+tbody {
  border-top: 2px solid #ddd;
}

.table .table {
  background-color: #fff;
}

table col[class*=col-] {
  position: static;
  display: table-column;
  float: none;
}

table td[class*=col-],table th[class*=col-] {
  position: static;
  display: table-cell;
  float: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.focus,.btn:focus,.btn:hover {
  color: #333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default.focus,.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default:active {
  background-image: none;
}

.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover {
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary.focus,.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary:active {
  background-image: none;
}

.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-link {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0;
}

.btn-link,.btn-link:active,.btn-link[disabled] {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {
  border-color: transparent;
}

.btn-link:focus,.btn-link:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:focus,.btn-link[disabled]:hover {
  color: #777;
  text-decoration: none;
}

.btn-group-sm>.btn,.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-xs>.btn,.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block+.btn-block {
  margin-top: 5px;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.open>a {
  outline: 0;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group>.btn {
  position: relative;
  float: left;
}

.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover {
  z-index: 2;
}

.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group {
  margin-left: -1px;
}

.btn-toolbar {
  margin-left: -5px;
}

.btn-toolbar .btn,.btn-toolbar .btn-group {
  float: left;
}

.btn-toolbar>.btn,.btn-toolbar>.btn-group {
  margin-left: 5px;
}

.btn-group>.btn:first-child {
  margin-left: 0;
}

.btn-group>.btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group>.btn-group {
  float: left;
}

.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
  border-radius: 0;
}

.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:focus,.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
  background-color: #eee;
  border-color: #337ab7;
}

.nav>li>a>img {
  max-width: none;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

@media (min-width:768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width:768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.navbar-collapse.in {
  overflow-y: auto;
}

@media (min-width:768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-bottom .navbar-collapse,  .navbar-fixed-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width:480px) and (orientation:landscape) {
  .navbar-fixed-bottom .navbar-collapse,  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}

.container>.navbar-collapse,.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width:768px) {
  .container>.navbar-collapse,  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-fixed-bottom,.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width:768px) {
  .navbar-fixed-bottom,  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:focus,.navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand>img {
  display: block;
}

@media (min-width:768px) {
  .navbar>.container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width:768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width:768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width:768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width:768px) {
  .navbar-left {
    float: left!important;
  }

  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }

  .navbar-right~.navbar-right {
    margin-right: 0;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #777;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
  color: #333;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .navbar-link {
  color: #777;
}

.navbar-default .navbar-link:hover {
  color: #333;
}

.navbar-default .btn-link {
  color: #777;
}

.navbar-default .btn-link:focus,.navbar-default .btn-link:hover {
  color: #333;
}

.navbar-default .btn-link[disabled]:focus,.navbar-default .btn-link[disabled]:hover {
  color: #ccc;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.pager li {
  display: inline;
}

.pager li>a,.pager li>span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.pager li>a:focus,.pager li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.pager .next>a,.pager .next>span {
  float: right;
}

.pager .previous>a,.pager .previous>span {
  float: left;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: 700;
}

.alert>p,.alert>ul {
  margin-bottom: 0;
}

.alert>p+p {
  margin-top: 5px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media,.media-body {
  overflow: hidden;
  zoom: 1;
}

.media-body {
  width: 10000px;
}

.media-right,.media>.pull-right {
  padding-left: 10px;
}

.media-left,.media>.pull-left {
  padding-right: 10px;
}

.media-body,.media-left,.media-right {
  display: table-cell;
  vertical-align: top;
}

.media-bottom {
  vertical-align: bottom;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

a.list-group-item,button.list-group-item {
  color: #555;
}

a.list-group-item .list-group-item-heading,button.list-group-item .list-group-item-heading {
  color: #333;
}

a.list-group-item:focus,a.list-group-item:hover,button.list-group-item:focus,button.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

button.list-group-item {
  width: 100%;
  text-align: left;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

.btn-toolbar:after,.btn-toolbar:before,.container:after,.container:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.row:after,.row:before {
  display: table;
  content: " ";
}

.btn-toolbar:after,.container:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right!important;
}

.pull-left {
  float: left!important;
}

.hidden {
  display: none!important;
}

@-ms-viewport {
  width: device-width;
}

.visible-md,.visible-sm,.visible-xs {
  display: none!important;
}

.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block {
  display: none!important;
}

@media (max-width:767px) {
  .visible-xs {
    display: block!important;
  }

  table.visible-xs {
    display: table!important;
  }

  tr.visible-xs {
    display: table-row!important;
  }

  td.visible-xs,  th.visible-xs {
    display: table-cell!important;
  }
}

@media (max-width:767px) {
  .visible-xs-block {
    display: block!important;
  }
}

@media (max-width:767px) {
  .visible-xs-inline {
    display: inline!important;
  }
}

@media (max-width:767px) {
  .visible-xs-inline-block {
    display: inline-block!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
    display: block!important;
  }

  table.visible-sm {
    display: table!important;
  }

  tr.visible-sm {
    display: table-row!important;
  }

  td.visible-sm,  th.visible-sm {
    display: table-cell!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-block {
    display: block!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-inline {
    display: inline!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-inline-block {
    display: inline-block!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md {
    display: block!important;
  }

  table.visible-md {
    display: table!important;
  }

  tr.visible-md {
    display: table-row!important;
  }

  td.visible-md,  th.visible-md {
    display: table-cell!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-block {
    display: block!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-inline {
    display: inline!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-inline-block {
    display: inline-block!important;
  }
}

@media (max-width:767px) {
  .hidden-xs {
    display: none!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .hidden-md {
    display: none!important;
  }
}

/* sourceMappingURL=bootstrap.min.css.map */

*,*::after,*::before {
  box-sizing: border-box;
}

.row:after,.row:before {
  content: " ";
  display: table;
}

html {
  font-family: 'Merriweather',serif;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
}

@media screen and (min-width:58em) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  margin-top: 71px;
  padding-top: 0;
  counter-reset: captions;
}

@media screen and (max-width:1200px) {
  body {
    margin-top: 51px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.navbar-default {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4,h5,h6 {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem;
}

a,h3.article-title a:hover {
  color: #0095eb;
  text-decoration: none;
  transition: color .6s ease;
}

a:hover,a:focus {
  color: #005181;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

pre {
  font-family: 'Roboto Mono','Courier New','Courier',monospace;
}

pre {
  margin: 0 0 1rem 0;
  overflow: auto;
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-section {
  background-color: #fff;
  padding: 110px 0 110px 0;
  animation: intro .3s both;
  animation-delay: .15s;
}

.home-section:first-of-type {
  padding-top: 50px;
}

.home-section:nth-of-type(even) {
  background-color: #f7f7f7;
}

@media screen and (max-width:768px) {
  .home-section {
    padding: 60px 0 60px 0;
  }

  .home-section:first-of-type {
    padding-top: 40px;
  }
}

.section-heading h1 {
  margin: 0 0 10px 0;
}

.section-heading p {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #b2b2b2;
}

#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#profile .portrait-title h2 {
  font-size: 1.75em;
  font-weight: 300;
  color: #000;
  margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
  font-size: 1.13em;
  font-weight: 300;
  color: #aaa;
  margin: 0 0 10px 0;
}

#profile ul.social-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#profile .social-icon li {
  margin-right: 10px;
}

#profile .social-icon li:last-of-type {
  margin-right: 0;
}

#profile .social-icon li:hover {
  transform: scale(1.2);
}

.big-icon {
  font-size: 2rem;
}

ul.ul-interests li {
  font-size: .9rem;
}

ul.ul-edu {
  list-style: none;
}

ul.ul-edu li {
  position: relative;
  padding: 0 15px 4px 3px;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.course {
  font-size: .9rem;
}

ul.ul-edu li .description p.institution {
  font-size: .75rem;
  color: rgba(0,0,0,0.6);
}

.share-box {
  float: right;
}

ul.share {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.share li {
  display: inline-flex;
  margin-right: 5px;
}

ul.share li:last-of-type {
  margin-right: 0;
}

ul.share li .fa {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  transition: all 150ms ease-in-out;
  color: #fff;
}

ul.share li a {
  background-color: #b5c6ce;
  display: block;
  border-radius: 50%;
  text-decoration: none!important;
  margin: 0;
}

ul.share li:hover .fa {
  transform: scale(1.4);
}

article {
  animation: intro .3s both;
  animation-delay: .15s;
}

.article-container {
  max-width: 760px;
  padding: 1rem 20px 0 20px;
  margin: 0 auto 0 auto;
}

.article-header {
  position: relative;
  clear: both;
}

.article-banner {
  #width: auto;
  #height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-header-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-size: .7em;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: .65;
  border-radius: 5px 0 0 0;
}

@media (min-width:64em) {
  .article-header-caption {
    padding: 5px 10px;
  }
}

.article-header-caption a {
  color: #fff;
  text-decoration: none;
}

.article-title {
  font-size: 1.75rem;
}

.article-title a {
  color: #151515;
  transition: color .6s ease;
}

.article-metadata {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 14px;
  letter-spacing: .03em;
  color: #888;
}

.article-metadata a {
  color: #888;
}

.article-metadata a:hover {
  color: #0095eb;
}

.article-list-item {
  margin-bottom: 40px;
}

.article-list-item:last-child {
  margin-bottom: 0!important;
}

.article-list-item .article-metadata {
  margin-bottom: 5px;
}

.article-metadata .article-date,.article-metadata .article-tags {
  margin-right: 10px;
}

.article-style img {
  box-shadow: 1px 1px 0 #edefed,-1px -1px 0 #edefed,1px -1px 0 #edefed,-1px 1px 0 #edefed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}

.pub-icon {
  color: #03396c;
  font-size: .81em;
  padding-top: 6px;
}

.pub-banner {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.pub .pub-title {
  margin-bottom: 5px;
}

.pub .pub-authors {
  font-style: italic;
  line-height: 30px;
}

.pub .pub-row-heading {
  font-weight: bold;
}

.pub-list-item {
  margin-bottom: 40px;
}

.pub-list-item .pub-authors {
  line-height: normal;
  font-style: normal;
  font-size: 1rem;
  color: #3170a5;
}

#projects.home-section li {
  margin-bottom: 1rem;
}

#projects.home-section li:last-of-type {
  margin-bottom: 0;
}

#projects.home-section .project-title {
  display: inline-block;
  margin-bottom: 6px;
}

#projects.home-section .project-summary {
  font-size: .9rem;
  margin-bottom: .4rem;
}

#projects.home-section .project-tags {
  font-size: .75rem;
  color: #9c9c9c;
}

#container-projects {
  display: block;
  position: relative;
  overflow: hidden;
}

.project-toolbar {
  margin-bottom: 2rem;
}

.project-item {
  margin-bottom: 1.5rem;
}

.isotope-item {
  z-index: 2;
}

.isotope-item:hover {
  z-index: 3;
}

#contact.home-section .fa-ul {
  margin-left: 3.14285714rem;
}

#contact.home-section .fa-li {
  position: absolute;
  left: -3.14285714rem;
  width: 2rem;
  top: .14285714em;
  text-align: center;
}

#contact.home-section li {
  padding-top: .8rem;
  margin-bottom: .3rem;
}

#contact.home-section li:last-of-type {
  margin-bottom: 0;
}

footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  width: 100%;
}

footer p {
  font-size: .75rem;
  text-align: center;
}

.site-footer,footer a#back_to_top i {
  color: #899596;
}

.btn-primary {
  border-color: #0095eb;
  background: #0095eb;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
  background: #0095eb;
}

.btn-toolbar .btn {
  font-size: .9rem;
  padding: 10px 14px 9px;
  border: 0;
}

.btn-toolbar .btn:first-child {
  border-radius: 6px 0 0 6px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0 6px 6px 0;
}

.btn-toolbar .btn.btn-primary:hover,.btn-toolbar .btn.btn-primary:focus {
  background-color: rgba(0,149,235,0.6);
}

.btn-toolbar .btn.btn-primary:active {
  background-color: rgba(0,89,175,1);
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #0095eb;
  border-color: #0095eb;
}

.btn-primary.btn-outline:hover {
  color: #fff;
}

.navbar {
  min-height: 70px!important;
}

.navbar-default {
  background: #fff;
  box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.11);
}

nav#navbar-main li {
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>a:focus,.navbar-default .navbar-nav>a:hover {
  white-space: nowrap;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  color: #34495e;
  font-weight: 600;
}

.navbar-brand,.navbar-nav li a {
  height: inherit;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: #2b2b2b;
}

@media screen and (max-width:1200px) {
  .navbar {
    min-height: 50px!important;
  }

  .navbar-brand,  .navbar-nav li a {
    height: inherit;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-header {
    float: none;
    min-height: inherit;
  }

  .navbar-left,  .navbar-right {
    float: none!important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;
  }

  .collapse.in {
    display: block!important;
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: .93rem;
}

table>thead>tr>th,table>tbody>tr>th,table>thead>tr>td,table>tbody>tr>td {
  padding: 8px;
  line-height: 1.43;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table>caption+thead>tr:first-child>th,table>thead:first-child>tr:first-child>th,table>caption+thead>tr:first-child>td,table>thead:first-child>tr:first-child>td {
  border-top: 0;
}

table>tbody+tbody {
  border-top: 2px solid #ddd;
}

table table {
  background-color: #fff;
}

table>tbody>tr:nth-child(odd)>td,table>tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9;
}

table>tbody>tr:hover>td,table>tbody>tr:hover>th {
  background-color: #e5e5e5;
}

div.alert {
  border-radius: 10px;
  margin-bottom: 1rem;
}

div.alert p {
  position: relative;
  display: block;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

div.alert p:first-child::before {
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  color: #fff;
  content: '\f05a';
  width: 1.5rem;
  text-align: center;
}

div.alert a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  border-bottom: solid 1px #e4e4e4;
  transition: color .2s ease-in-out,border-color .2s ease-in-out;
}

div.alert a:hover {
  border-bottom-color: transparent;
  color: rgba(255,255,255,0.5)!important;
}

@font-face {
  font-family: 'Academicons';
  src: url('../fonts/academicons.eot?v=1.5.0');
  src: url('../fonts/academicons.eot?v=1.5.0') format('embedded-opentype'), url('../fonts/academicons.ttf?v=1.5.0') format('truetype'), url('../fonts/academicons.woff?v=1.5.0') format('woff'), url('../fonts/academicons.svg?v=1.5.0#academicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}