{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="pub" itemscope itemtype="http://schema.org/CreativeWork">

  {{ if .Params.header.image }}
  <div class="article-header">
    <img src="{{ "/img/" | relURL }}/{{ .Params.header.image }}" class="article-banner" itemprop="image">
    {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
  </div>
  {{end}}

  <div class="article-container">

    <div class="pub-title">
      <h1 itemprop="name">{{ .Title }}</h1>
      <span class="pub-authors" itemprop="author">
        {{ with .Params.authors }}
        {{ delimit . ", " }}
        {{ end }}
      </span>
      <span class="pull-right">
        {{ partial "share.html" . }}
      </span>
    </div>

    {{ if .Params.abstract }}
      <h3>{{ i18n "abstract" }}</h3>
      <p class="pub-abstract" itemprop="text">{{ .Params.abstract }}</p>
    {{ else }}
      <br>
    {{ end }}

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-xs-12 col-sm-3 pub-row-heading">{{ i18n "date" }}</div>
          <div class="col-xs-12 col-sm-9" itemprop="datePublished">
            {{ .Date.Format $.Site.Params.date_format }}
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="visible-xs space-below"></div>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-xs-12 col-sm-3 pub-row-heading">{{ i18n "event" }}</div>
          <div class="col-xs-12 col-sm-9">
            {{ with .Params.event_url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
            {{ .Params.event | markdownify }}
            {{ if .Params.event_url }}</a>{{ end }}
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="visible-xs space-below"></div>

    {{ with .Params.location }}
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-xs-12 col-sm-3 pub-row-heading">{{ i18n "location" }}</div>
          <div class="col-xs-12 col-sm-9">{{ . | markdownify }}</div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="visible-xs space-below"></div>
    {{ end }}

    {{ if .Params.url_pdf | or .Params.url_slides | or .Params.url_video | or .Params.url_custom }}
    <div class="row" style="padding-top: 10px">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-xs-12 col-sm-3 pub-row-heading" style="line-height:34px;">{{ i18n "links" }}</div>
          <div class="col-xs-12 col-sm-9">

            {{ partial "talk_links" (dict "content" . "is_list" 0) }}

          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="visible-xs space-below"></div>
    {{ end }}

    <div class="space-below"></div>

    <div class="article-style">
      {{ .Content }}
    </div>

  </div>
</div>

<div class="container">
  {{ partial "section_pager.html" . }}
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
