{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ if .Params.header.image }}
  <div class="article-header">
    <img src="{{ "/img/" | relURL }}{{ .Params.header.image }}" class="article-banner" itemprop="image">
    {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
  </div>
  {{end}}

  <div class="article-container">
    <h1 itemprop="name">{{ .Title }}</h1>
    {{ partial "article_metadata" (dict "content" . "is_list" 0) }}
    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>
  </div>

</article>

<div class="container">
  {{ partial "section_pager.html" . }}
</div>

<div class="article-container">
  {{ partial "comments.html" . }}
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
