<script type="text/javascript">
    document.write(", ik ben " + Math.round((new Date()-new Date('1996-01-04'))/(1000*3600*24*365),0) + " jaar oud");
    </script><noscript>, ik ben geboren in 1996</noscript> 